!!!
%html{:lang => "en"}

	= Haml::Engine.new(File.read("dev/haml/partials/_m-head.haml")).render

	%body

		:plain
			<!-- inject:svg --><!-- endinject -->

		%main{:role => "main"}

			%header

				%a{:href => "http://northman.co", :title => "Return Home"}
					%svg.svg_nm-wordmark
						%use{"xlink:href" => "#nm-wordmark"}

				%h1.visuallyhidden Insurance For The Wild.

				-# .wrap_tagline.wrap_svg
				%svg.svg_nm-tagline
					%use{"xlink:href" => "#nm-tagline"}

			%article

				%h2 Northman Error 404. The page you are looking for could not be found.

		.background