// ==|== media queries ========================================================
// WIDTHS: 768px / 960px
// ============================================================================

@media only screen and (min-width: 48em) { // 768px / 16px = 48em

	// General Styles
	// ----------------------------------------------------------------------------
	main {
		padding-bottom: 6rem;
	}
	div.background {
		bottom: 0;
		height: auto;
	}

	// Header Styles
	// ----------------------------------------------------------------------------
	header {
		position: relative;
		padding: 4.8rem 5.4rem 10rem 5.4rem;
		background-image: none;
	}
	header a {
		margin: 0 0 8rem 0;
	}
	svg.svg_nm-tagline {
		width: 66rem;
		height: 26.7rem;
	}

	// Article Styles
	// ----------------------------------------------------------------------------
	article {
		padding: 4rem;
		width: 62.2rem;
		// height: 25rem;
	}
	article h2 {
		margin-bottom: 4rem;
		// font-size: 1.9rem;
	}
	// --- Sign-Up Form --- \\
	// + input: text + \\
	input[type="email"] {
		padding: 0 2.8rem;
		width: 42.6rem;
		height: 6.4rem;
		font-size: 2.4rem;
	}
	svg.svg_email {
		top: 2.4rem;
		left: 2.8rem;
		width: 36.8rem;
		height: 1.7rem;
	}
	// + input: submit + \\
	div.wrap_input-submit {
		top: -1.5rem;
		right: 0;
		width: 9rem;
		height: 9rem;
	}
	svg.svg_send {
		margin: -0.8rem 0 0 -2.9rem;
		width: 5.8rem;
		height: 1.6rem;
	}

}

@media only screen and (min-width: 60em) { // 960px / 16px = 60em

	// General Styles
	// ----------------------------------------------------------------------------
	main {
		padding-bottom: 10rem;
	}

	// Header Styles
	// ----------------------------------------------------------------------------
	svg.svg_nm-tagline {
		width: 83rem;
		height: 33.6rem;
	}

}

/*
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { // IE10 & IE11
}
*/